.about {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;

  &__course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 0px 5px;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;

    svg {
      width: 14px;
      font-weight: bold;
    }
  }

  &__level {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 250px;
    max-height: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    .img1 {
      display: flex;
      align-items: center;
      gap: 8px;
      svg {
        height: 15px;
        width: 23px;
        fill: green;
      }
    }

    .img2 {
      display: flex;
      align-items: center;
      gap: 8px;
      svg {
        height: 15px;
        width: 23px;
        fill: green;
      }
    }

    .img3 {
      display: flex;
      align-items: center;
      gap: 3px;
      svg {
        height: 15px;
        width: 23px;
        fill: green;
      }
    }
  }

  &__category {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-right: 80px;

    div {
      border-radius: 15px;

      padding: 8px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      border: 1px solid rgb(221, 218, 218);
    }
  }

  .latin {
    border-bottom: 1px solid rgb(221, 218, 218);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-bottom: 13px;
    line-height: 20px;
  }

  &__instructor {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    gap: 10px;

    img {
      border-radius: 50%;
      max-width: 30px;
      height: 30px;
    }

    .details {
      .name {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .skills {
        color: rgb(177, 174, 174);
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
