.landing {
  display: flex;
  gap: 5px;
  padding-top: 50px;
  background-color: rgb(238, 234, 234);

  @media only screen and (max-width: 1173px) {
    flex-direction: column;
    max-width: 100%;
  }
}
